AB-data-factory2/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AB-data-factory2"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"AzureSqlMI1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlMI1'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMI1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlMI1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tablename": {
						"type": "string",
						"defaultValue": "O_DASSY"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "DBO",
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Data selection.csv",
						"folderPath": "airbus",
						"container": "blob01"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ADAPCINUMBER;ADAPCILEGACYNUMBER;ADAPLONUMBER;ADAPLOLEGACYNUMBER;CDATE;UDATE;ADAPCINUMBER2;CINSTACK;ADAPCINUMBER3;REQUIREMENTID;ADAPDSNUMBER;ADAPDSISSUEINDEX;ADAPCINUMBER4;ADAPCILEGACYNUMBER5;CDATE6;UDATE7;QUANTITY;A_ADAPDSNUMBER;A_ADAPDSISSUEINDEX;B_ADAPDSNUMBER;CDATE8;UDATE9;QUANTITY10;ITEMNUMBER;ITEMNUMBERZONE;ALTERNCODE;UNIT;ADAPDSNUMBER11;ADAPDSISSUEINDEX12;DASSYNUMBER;DASSYISSUEINDEX;CDATE13;UDATE14;QUANTITY15;ITEMNUMBER16;ITEMNUMBERZONE17;ALTERNCODE18;UNIT19;ADAPDSNUMBER20;ADAPDSISSUEINDEX21;DDPTNUMBER;DDPTISSUEINDEX;CDATE22;UDATE23;QUANTITY24;ITEMNUMBER25;ALTERNCODE26;UNIT27;ADAPDSNUMBER28;ADAPDSISSUEINDEX29;DRAWINGSETNUMBER;DRWSTISSUEINDEX;CDATE30;UDATE31;ADAPDSNUMBER32;ADAPDSISSUEINDEX33;PNCADNUMBER;CDATE34;UDATE35;QUANTITY36;ITEMNUMBER37;ITEMNUMBERZONE38;ALTERNCODE39;UNIT40;ADAPDSNUMBER41;ADAPDSISSUEINDEX42;STDPTNUMBER;CDATE43;UDATE44;QUANTITY45;ITEMNUMBER46;ITEMNUMBERZONE47;ALTERNCODE48;UNIT49;FCSM;MATERIAL;CLASSIFICATION;ADAPLONUMBER50;ADAPLOLEGACYNUMBER51;ADAPDSNUMBER52;ADAPDSISSUEINDEX53;CDATE54;UDATE55;ADAPLONUMBER56;REQUIREMENTID57;CACCCODE;ADAPCINUMBER58;ADAPCILEGACYNUMBER59;CDATE60;UDATE61;CACCCODE62;DASSYNUMBER63;DASSYISSUEINDEX64;CDATE65;UDATE66;DASSYNUMBER67;DASSYISSUEINDEX68;ADAPCINUMBER69;CDATE70;UDATE71;QUANTITY72;ITEMNUMBER73;ITEMNUMBERZONE74;UNIT75;A_DASSYNUMBER;A_DASSYISSUEINDEX;B_DASSYNUMBER;B_DASSYISSUEINDEX;CDATE76;UDATE77;QUANTITY78;ITEMNUMBER79;ITEMNUMBERZONE80;ALTERNCODE81;UNIT82;A_DASSYNUMBER83;B_DASSYNUMBER84;CDATE85;UDATE86;ICYCODE;ICYCONDITION;ICYLINKTYPE;TEAM_O_DASSY_A;TEAM_O_DASSY_B;DASSYNUMBER87;DASSYISSUEINDEX88;DDPTNUMBER89;DDPTISSUEINDEX90;CDATE91;UDATE92;QUANTITY93;ITEMNUMBER94;ITEMNUMBERZONE95;ALTERNCODE96;MINUS;UNIT97;A_DASSYNUMBER98;B_DDPTNUMBER;CDATE99;UDATE100;ICYCODE101;ICYCONDITION102;ICYLINKTYPE103;DASSYNUMBER104;DASSYISSUEINDEX105;DRAWINGSETNUMBER106;DRWSTISSUEINDEX107;CDATE108;UDATE109;DASSYNUMBER110;DASSYISSUEINDEX111;STDPTNUMBER112;CDATE113;UDATE114;QUANTITY115;ITEMNUMBER116;ITEMNUMBERZONE117;ALTERNCODE118;UNIT119;FSCM;MATERIAL120;CLASSIFICATION121;A_DDPTNUMBER;B_DASSYNUMBER122;CDATE123;UDATE124;ICYCODE125;ICYCONDITION126;ICYLINKTYPE127;A_DDPTNUMBER128;B_DDPTNUMBER129;CDATE130;UDATE131;ICYCODE132;ICYCONDITION133;ICYLINKTYPE134;DDPTNUMBER135;DDPTISSUEINDEX136;DRAWINGSETNUMBER137;DRWSTISSUEINDEX138;CDATE139;UDATE140;DDPTNUMBER141;DDPTISSUEINDEX142;STDPTNUMBER143;CDATE144;UDATE145;QUANTITY146;ITEMNUMBER147;ITEMNUMBERZONE148;LENGTH;WIDTH;THICKNESSORDIAMETER;THICKNESS;DIAMETER;UNIT149;FCSM150;MINUS151;ALTERNCODE152;DRWSTNUMBER;DRWSTISSUE;DQNNUMBER;IMPACTTYPE;CIN;ATACODE;CACODE;INTEGRATIONISSUE;MSN;IMPACTEDDS;IMPACTSTATUS;DRAWINGSETNUMBER153;DRWSTISSUEINDEX154;DRAWINGNUMBER;DRWISSUEINDEX;REQUIREMENTID155;CINSTACK156",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/O_CIN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "O_CIN.xml",
						"folderPath": "airbus/AIRBUS-RUAG-20200622-A320-XML-EZ20181205003-1-1",
						"container": "blob01"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/O_MSN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "O_MSN.xml",
						"folderPath": "airbus/AIRBUS-RUAG-20200622-A320-XML-EZ20181205003-1-1",
						"container": "blob01"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "L_REL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/XML_OCIN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "O_CIN.xml",
						"folderPath": "airbus/AIRBUS-RUAG-20200622-A320-XML-EZ20181205003-1-1",
						"container": "blob01"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "L_REL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "O_CIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ADAPCINUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ADAPCINUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPCILEGACYNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ADAPCILEGACYNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPLONUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ADAPLONUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPLOLEGACYNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ADAPLOLEGACYNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE",
											"type": "String"
										},
										"sink": {
											"name": "CDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE",
											"type": "String"
										},
										"sink": {
											"name": "UDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPCINUMBER2",
											"type": "String"
										},
										"sink": {
											"name": "ADAPCINUMBER2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CINSTACK",
											"type": "String"
										},
										"sink": {
											"name": "CINSTACK",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPCINUMBER3",
											"type": "String"
										},
										"sink": {
											"name": "ADAPCINUMBER3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUIREMENTID",
											"type": "String"
										},
										"sink": {
											"name": "REQUIREMENTID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSISSUEINDEX",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSISSUEINDEX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPCINUMBER4",
											"type": "String"
										},
										"sink": {
											"name": "ADAPCINUMBER4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPCILEGACYNUMBER5",
											"type": "String"
										},
										"sink": {
											"name": "ADAPCILEGACYNUMBER5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE6",
											"type": "String"
										},
										"sink": {
											"name": "CDATE6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE7",
											"type": "String"
										},
										"sink": {
											"name": "UDATE7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A_ADAPDSNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "A_ADAPDSNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A_ADAPDSISSUEINDEX",
											"type": "String"
										},
										"sink": {
											"name": "A_ADAPDSISSUEINDEX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "B_ADAPDSNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "B_ADAPDSNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE8",
											"type": "String"
										},
										"sink": {
											"name": "CDATE8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE9",
											"type": "String"
										},
										"sink": {
											"name": "UDATE9",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY10",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBERZONE",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBERZONE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALTERNCODE",
											"type": "String"
										},
										"sink": {
											"name": "ALTERNCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT",
											"type": "String"
										},
										"sink": {
											"name": "UNIT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSNUMBER11",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSNUMBER11",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSISSUEINDEX12",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSISSUEINDEX12",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "DASSYNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYISSUEINDEX",
											"type": "String"
										},
										"sink": {
											"name": "DASSYISSUEINDEX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE13",
											"type": "String"
										},
										"sink": {
											"name": "CDATE13",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE14",
											"type": "String"
										},
										"sink": {
											"name": "UDATE14",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY15",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY15",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBER16",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBER16",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBERZONE17",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBERZONE17",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALTERNCODE18",
											"type": "String"
										},
										"sink": {
											"name": "ALTERNCODE18",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT19",
											"type": "String"
										},
										"sink": {
											"name": "UNIT19",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSNUMBER20",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSNUMBER20",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSISSUEINDEX21",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSISSUEINDEX21",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DDPTNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "DDPTNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DDPTISSUEINDEX",
											"type": "String"
										},
										"sink": {
											"name": "DDPTISSUEINDEX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE22",
											"type": "String"
										},
										"sink": {
											"name": "CDATE22",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE23",
											"type": "String"
										},
										"sink": {
											"name": "UDATE23",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY24",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY24",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBER25",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBER25",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALTERNCODE26",
											"type": "String"
										},
										"sink": {
											"name": "ALTERNCODE26",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT27",
											"type": "String"
										},
										"sink": {
											"name": "UNIT27",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSNUMBER28",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSNUMBER28",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSISSUEINDEX29",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSISSUEINDEX29",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRAWINGSETNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "DRAWINGSETNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRWSTISSUEINDEX",
											"type": "String"
										},
										"sink": {
											"name": "DRWSTISSUEINDEX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE30",
											"type": "String"
										},
										"sink": {
											"name": "CDATE30",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE31",
											"type": "String"
										},
										"sink": {
											"name": "UDATE31",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSNUMBER32",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSNUMBER32",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSISSUEINDEX33",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSISSUEINDEX33",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PNCADNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PNCADNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE34",
											"type": "String"
										},
										"sink": {
											"name": "CDATE34",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE35",
											"type": "String"
										},
										"sink": {
											"name": "UDATE35",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY36",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY36",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBER37",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBER37",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBERZONE38",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBERZONE38",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALTERNCODE39",
											"type": "String"
										},
										"sink": {
											"name": "ALTERNCODE39",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT40",
											"type": "String"
										},
										"sink": {
											"name": "UNIT40",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSNUMBER41",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSNUMBER41",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSISSUEINDEX42",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSISSUEINDEX42",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STDPTNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "STDPTNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE43",
											"type": "String"
										},
										"sink": {
											"name": "CDATE43",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE44",
											"type": "String"
										},
										"sink": {
											"name": "UDATE44",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY45",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY45",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBER46",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBER46",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBERZONE47",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBERZONE47",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALTERNCODE48",
											"type": "String"
										},
										"sink": {
											"name": "ALTERNCODE48",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT49",
											"type": "String"
										},
										"sink": {
											"name": "UNIT49",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FCSM",
											"type": "String"
										},
										"sink": {
											"name": "FCSM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASSIFICATION",
											"type": "String"
										},
										"sink": {
											"name": "CLASSIFICATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPLONUMBER50",
											"type": "String"
										},
										"sink": {
											"name": "ADAPLONUMBER50",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPLOLEGACYNUMBER51",
											"type": "String"
										},
										"sink": {
											"name": "ADAPLOLEGACYNUMBER51",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSNUMBER52",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSNUMBER52",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPDSISSUEINDEX53",
											"type": "String"
										},
										"sink": {
											"name": "ADAPDSISSUEINDEX53",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE54",
											"type": "String"
										},
										"sink": {
											"name": "CDATE54",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE55",
											"type": "String"
										},
										"sink": {
											"name": "UDATE55",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPLONUMBER56",
											"type": "String"
										},
										"sink": {
											"name": "ADAPLONUMBER56",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUIREMENTID57",
											"type": "String"
										},
										"sink": {
											"name": "REQUIREMENTID57",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CACCCODE",
											"type": "String"
										},
										"sink": {
											"name": "CACCCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPCINUMBER58",
											"type": "String"
										},
										"sink": {
											"name": "ADAPCINUMBER58",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPCILEGACYNUMBER59",
											"type": "String"
										},
										"sink": {
											"name": "ADAPCILEGACYNUMBER59",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE60",
											"type": "String"
										},
										"sink": {
											"name": "CDATE60",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE61",
											"type": "String"
										},
										"sink": {
											"name": "UDATE61",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CACCCODE62",
											"type": "String"
										},
										"sink": {
											"name": "CACCCODE62",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYNUMBER63",
											"type": "String"
										},
										"sink": {
											"name": "DASSYNUMBER63",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYISSUEINDEX64",
											"type": "String"
										},
										"sink": {
											"name": "DASSYISSUEINDEX64",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE65",
											"type": "String"
										},
										"sink": {
											"name": "CDATE65",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE66",
											"type": "String"
										},
										"sink": {
											"name": "UDATE66",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYNUMBER67",
											"type": "String"
										},
										"sink": {
											"name": "DASSYNUMBER67",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYISSUEINDEX68",
											"type": "String"
										},
										"sink": {
											"name": "DASSYISSUEINDEX68",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADAPCINUMBER69",
											"type": "String"
										},
										"sink": {
											"name": "ADAPCINUMBER69",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE70",
											"type": "String"
										},
										"sink": {
											"name": "CDATE70",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE71",
											"type": "String"
										},
										"sink": {
											"name": "UDATE71",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY72",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY72",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBER73",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBER73",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBERZONE74",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBERZONE74",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT75",
											"type": "String"
										},
										"sink": {
											"name": "UNIT75",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A_DASSYNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "A_DASSYNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A_DASSYISSUEINDEX",
											"type": "String"
										},
										"sink": {
											"name": "A_DASSYISSUEINDEX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "B_DASSYNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "B_DASSYNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "B_DASSYISSUEINDEX",
											"type": "String"
										},
										"sink": {
											"name": "B_DASSYISSUEINDEX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE76",
											"type": "String"
										},
										"sink": {
											"name": "CDATE76",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE77",
											"type": "String"
										},
										"sink": {
											"name": "UDATE77",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY78",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY78",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBER79",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBER79",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBERZONE80",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBERZONE80",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALTERNCODE81",
											"type": "String"
										},
										"sink": {
											"name": "ALTERNCODE81",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT82",
											"type": "String"
										},
										"sink": {
											"name": "UNIT82",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A_DASSYNUMBER83",
											"type": "String"
										},
										"sink": {
											"name": "A_DASSYNUMBER83",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "B_DASSYNUMBER84",
											"type": "String"
										},
										"sink": {
											"name": "B_DASSYNUMBER84",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE85",
											"type": "String"
										},
										"sink": {
											"name": "CDATE85",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE86",
											"type": "String"
										},
										"sink": {
											"name": "UDATE86",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYCODE",
											"type": "String"
										},
										"sink": {
											"name": "ICYCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYCONDITION",
											"type": "String"
										},
										"sink": {
											"name": "ICYCONDITION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYLINKTYPE",
											"type": "String"
										},
										"sink": {
											"name": "ICYLINKTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TEAM_O_DASSY_A",
											"type": "String"
										},
										"sink": {
											"name": "TEAM_O_DASSY_A",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TEAM_O_DASSY_B",
											"type": "String"
										},
										"sink": {
											"name": "TEAM_O_DASSY_B",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYNUMBER87",
											"type": "String"
										},
										"sink": {
											"name": "DASSYNUMBER87",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYISSUEINDEX88",
											"type": "String"
										},
										"sink": {
											"name": "DASSYISSUEINDEX88",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DDPTNUMBER89",
											"type": "String"
										},
										"sink": {
											"name": "DDPTNUMBER89",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DDPTISSUEINDEX90",
											"type": "String"
										},
										"sink": {
											"name": "DDPTISSUEINDEX90",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE91",
											"type": "String"
										},
										"sink": {
											"name": "CDATE91",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE92",
											"type": "String"
										},
										"sink": {
											"name": "UDATE92",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY93",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY93",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBER94",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBER94",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBERZONE95",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBERZONE95",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALTERNCODE96",
											"type": "String"
										},
										"sink": {
											"name": "ALTERNCODE96",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MINUS",
											"type": "String"
										},
										"sink": {
											"name": "MINUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT97",
											"type": "String"
										},
										"sink": {
											"name": "UNIT97",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A_DASSYNUMBER98",
											"type": "String"
										},
										"sink": {
											"name": "A_DASSYNUMBER98",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "B_DDPTNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "B_DDPTNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE99",
											"type": "String"
										},
										"sink": {
											"name": "CDATE99",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE100",
											"type": "String"
										},
										"sink": {
											"name": "UDATE100",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYCODE101",
											"type": "String"
										},
										"sink": {
											"name": "ICYCODE101",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYCONDITION102",
											"type": "String"
										},
										"sink": {
											"name": "ICYCONDITION102",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYLINKTYPE103",
											"type": "String"
										},
										"sink": {
											"name": "ICYLINKTYPE103",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYNUMBER104",
											"type": "String"
										},
										"sink": {
											"name": "DASSYNUMBER104",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYISSUEINDEX105",
											"type": "String"
										},
										"sink": {
											"name": "DASSYISSUEINDEX105",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRAWINGSETNUMBER106",
											"type": "String"
										},
										"sink": {
											"name": "DRAWINGSETNUMBER106",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRWSTISSUEINDEX107",
											"type": "String"
										},
										"sink": {
											"name": "DRWSTISSUEINDEX107",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE108",
											"type": "String"
										},
										"sink": {
											"name": "CDATE108",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE109",
											"type": "String"
										},
										"sink": {
											"name": "UDATE109",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYNUMBER110",
											"type": "String"
										},
										"sink": {
											"name": "DASSYNUMBER110",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DASSYISSUEINDEX111",
											"type": "String"
										},
										"sink": {
											"name": "DASSYISSUEINDEX111",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STDPTNUMBER112",
											"type": "String"
										},
										"sink": {
											"name": "STDPTNUMBER112",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE113",
											"type": "String"
										},
										"sink": {
											"name": "CDATE113",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE114",
											"type": "String"
										},
										"sink": {
											"name": "UDATE114",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY115",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY115",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBER116",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBER116",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBERZONE117",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBERZONE117",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALTERNCODE118",
											"type": "String"
										},
										"sink": {
											"name": "ALTERNCODE118",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT119",
											"type": "String"
										},
										"sink": {
											"name": "UNIT119",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FSCM",
											"type": "String"
										},
										"sink": {
											"name": "FSCM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MATERIAL120",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL120",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASSIFICATION121",
											"type": "String"
										},
										"sink": {
											"name": "CLASSIFICATION121",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A_DDPTNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "A_DDPTNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "B_DASSYNUMBER122",
											"type": "String"
										},
										"sink": {
											"name": "B_DASSYNUMBER122",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE123",
											"type": "String"
										},
										"sink": {
											"name": "CDATE123",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE124",
											"type": "String"
										},
										"sink": {
											"name": "UDATE124",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYCODE125",
											"type": "String"
										},
										"sink": {
											"name": "ICYCODE125",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYCONDITION126",
											"type": "String"
										},
										"sink": {
											"name": "ICYCONDITION126",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYLINKTYPE127",
											"type": "String"
										},
										"sink": {
											"name": "ICYLINKTYPE127",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A_DDPTNUMBER128",
											"type": "String"
										},
										"sink": {
											"name": "A_DDPTNUMBER128",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "B_DDPTNUMBER129",
											"type": "String"
										},
										"sink": {
											"name": "B_DDPTNUMBER129",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE130",
											"type": "String"
										},
										"sink": {
											"name": "CDATE130",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE131",
											"type": "String"
										},
										"sink": {
											"name": "UDATE131",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYCODE132",
											"type": "String"
										},
										"sink": {
											"name": "ICYCODE132",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYCONDITION133",
											"type": "String"
										},
										"sink": {
											"name": "ICYCONDITION133",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ICYLINKTYPE134",
											"type": "String"
										},
										"sink": {
											"name": "ICYLINKTYPE134",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DDPTNUMBER135",
											"type": "String"
										},
										"sink": {
											"name": "DDPTNUMBER135",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DDPTISSUEINDEX136",
											"type": "String"
										},
										"sink": {
											"name": "DDPTISSUEINDEX136",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRAWINGSETNUMBER137",
											"type": "String"
										},
										"sink": {
											"name": "DRAWINGSETNUMBER137",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRWSTISSUEINDEX138",
											"type": "String"
										},
										"sink": {
											"name": "DRWSTISSUEINDEX138",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE139",
											"type": "String"
										},
										"sink": {
											"name": "CDATE139",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE140",
											"type": "String"
										},
										"sink": {
											"name": "UDATE140",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DDPTNUMBER141",
											"type": "String"
										},
										"sink": {
											"name": "DDPTNUMBER141",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DDPTISSUEINDEX142",
											"type": "String"
										},
										"sink": {
											"name": "DDPTISSUEINDEX142",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STDPTNUMBER143",
											"type": "String"
										},
										"sink": {
											"name": "STDPTNUMBER143",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDATE144",
											"type": "String"
										},
										"sink": {
											"name": "CDATE144",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE145",
											"type": "String"
										},
										"sink": {
											"name": "UDATE145",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY146",
											"type": "String"
										},
										"sink": {
											"name": "QUANTITY146",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBER147",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBER147",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEMNUMBERZONE148",
											"type": "String"
										},
										"sink": {
											"name": "ITEMNUMBERZONE148",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LENGTH",
											"type": "String"
										},
										"sink": {
											"name": "LENGTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WIDTH",
											"type": "String"
										},
										"sink": {
											"name": "WIDTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "THICKNESSORDIAMETER",
											"type": "String"
										},
										"sink": {
											"name": "THICKNESSORDIAMETER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "THICKNESS",
											"type": "String"
										},
										"sink": {
											"name": "THICKNESS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DIAMETER",
											"type": "String"
										},
										"sink": {
											"name": "DIAMETER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT149",
											"type": "String"
										},
										"sink": {
											"name": "UNIT149",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FCSM150",
											"type": "String"
										},
										"sink": {
											"name": "FCSM150",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MINUS151",
											"type": "String"
										},
										"sink": {
											"name": "MINUS151",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALTERNCODE152",
											"type": "String"
										},
										"sink": {
											"name": "ALTERNCODE152",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRWSTNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "DRWSTNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRWSTISSUE",
											"type": "String"
										},
										"sink": {
											"name": "DRWSTISSUE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DQNNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "DQNNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IMPACTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "IMPACTTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CIN",
											"type": "String"
										},
										"sink": {
											"name": "CIN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATACODE",
											"type": "String"
										},
										"sink": {
											"name": "ATACODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CACODE",
											"type": "String"
										},
										"sink": {
											"name": "CACODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INTEGRATIONISSUE",
											"type": "String"
										},
										"sink": {
											"name": "INTEGRATIONISSUE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MSN",
											"type": "String"
										},
										"sink": {
											"name": "MSN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IMPACTEDDS",
											"type": "String"
										},
										"sink": {
											"name": "IMPACTEDDS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IMPACTSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "IMPACTSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRAWINGSETNUMBER153",
											"type": "String"
										},
										"sink": {
											"name": "DRAWINGSETNUMBER153",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRWSTISSUEINDEX154",
											"type": "String"
										},
										"sink": {
											"name": "DRWSTISSUEINDEX154",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRAWINGNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "DRAWINGNUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRWISSUEINDEX",
											"type": "String"
										},
										"sink": {
											"name": "DRWISSUEINDEX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUIREMENTID155",
											"type": "String"
										},
										"sink": {
											"name": "REQUIREMENTID155",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CINSTACK156",
											"type": "String"
										},
										"sink": {
											"name": "CINSTACK156",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "O_CIN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['CIN']"
										},
										"sink": {
											"name": "CIN",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['MODNUMBER']"
										},
										"sink": {
											"name": "MODNUMBER"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['MODTITLE']"
										},
										"sink": {
											"name": "MODTITLE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['MPNUMBER']"
										},
										"sink": {
											"name": "MPNUMBER"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['MPTITLE']"
										},
										"sink": {
											"name": "MPTITLE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['TEAM_DISPLAY']"
										},
										"sink": {
											"name": "TEAM_DISPLAY"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['CATEGORY']"
										},
										"sink": {
											"name": "CATEGORY"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['CONFIGSETNAME']"
										},
										"sink": {
											"name": "CONFIGSETNAME"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['VALIDITYUPDATEDATE']"
										},
										"sink": {
											"name": "VALIDITYUPDATEDATE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['VALIDITYTYPE']"
										},
										"sink": {
											"name": "VALIDITYTYPE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['INDUSSTDCODE']"
										},
										"sink": {
											"name": "INDUSSTDCODE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['STDCODE']"
										},
										"sink": {
											"name": "STDCODE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['VERSIONCODE']"
										},
										"sink": {
											"name": "VERSIONCODE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['RANGE']"
										},
										"sink": {
											"name": "RANGE"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "O_CIN",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSV')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
				"[concat(variables('factoryId'), '/datasets/O_CIN')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "O_CIN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['CIN']"
										},
										"sink": {
											"name": "CIN",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['MODNUMBER']"
										},
										"sink": {
											"name": "MODNUMBER"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['MODTITLE']"
										},
										"sink": {
											"name": "MODTITLE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['MPNUMBER']"
										},
										"sink": {
											"name": "MPNUMBER"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['MPTITLE']"
										},
										"sink": {
											"name": "MPTITLE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['TEAM_DISPLAY']"
										},
										"sink": {
											"name": "TEAM_DISPLAY"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['CATEGORY']"
										},
										"sink": {
											"name": "CATEGORY"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['CONFIGSETNAME']"
										},
										"sink": {
											"name": "CONFIGSETNAME"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['VALIDITYUPDATEDATE']"
										},
										"sink": {
											"name": "VALIDITYUPDATEDATE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['VALIDITYTYPE']"
										},
										"sink": {
											"name": "VALIDITYTYPE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['INDUSSTDCODE']"
										},
										"sink": {
											"name": "INDUSSTDCODE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['STDCODE']"
										},
										"sink": {
											"name": "STDCODE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['VERSIONCODE']"
										},
										"sink": {
											"name": "VERSIONCODE"
										}
									},
									{
										"source": {
											"path": "$['O']['CIN']['row'][0]['RANGE']"
										},
										"sink": {
											"name": "RANGE"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "O_CIN",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "O_CIN"
								}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/O_CIN')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OCIN_TEMP_FLOW')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "OCIN"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "OCINSINK"
						}
					],
					"transformations": [
						{
							"name": "Flatten1"
						}
					],
					"script": "source(output(\n\t\tO as (CIN as (row as (CATEGORY as string, CIN as string, CONFIGSETNAME as string, INDUSSTDCODE as string, MODNUMBER as integer, MODTITLE as string, MPNUMBER as string, MPTITLE as string, RANGE as string, STDCODE as string, TEAM_DISPLAY as string, VALIDITYTYPE as string, VALIDITYUPDATEDATE as date, VERSIONCODE as string)[]))\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'xml',\n\tcontainer: 'blob01',\n\tfolderPath: 'airbus/AIRBUS-RUAG-20200622-A320-XML-EZ20181205003-1-1',\n\tfileName: 'O_CIN.xml',\n\tvalidationMode: 'none',\n\tnamespaces: true) ~> OCIN\nOCIN foldDown(unroll(O.CIN.row, O.CIN.row),\n\tmapColumn(\n\t\tCATEGORY = O.CIN.row.CATEGORY,\n\t\tCIN = O.CIN.row.CIN,\n\t\tCONFIGSETNAME = O.CIN.row.CONFIGSETNAME,\n\t\tINDUSSTDCODE = O.CIN.row.INDUSSTDCODE,\n\t\tMODNUMBER = O.CIN.row.MODNUMBER,\n\t\tMODTITLE = O.CIN.row.MODTITLE,\n\t\tMPNUMBER = O.CIN.row.MPNUMBER,\n\t\tMPTITLE = O.CIN.row.MPTITLE,\n\t\tRANGE = O.CIN.row.RANGE,\n\t\tSTDCODE = O.CIN.row.STDCODE,\n\t\tTEAM_DISPLAY = O.CIN.row.TEAM_DISPLAY,\n\t\tVALIDITYTYPE = O.CIN.row.VALIDITYTYPE,\n\t\tVALIDITYUPDATEDATE = O.CIN.row.VALIDITYUPDATEDATE,\n\t\tVERSIONCODE = O.CIN.row.VERSIONCODE\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten1\nFlatten1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tmapColumn(\n\t\tCATEGORY,\n\t\tCIN,\n\t\tCONFIGSETNAME,\n\t\tINDUSSTDCODE,\n\t\tMODNUMBER,\n\t\tMODTITLE,\n\t\tMPNUMBER,\n\t\tMPTITLE,\n\t\tRANGE,\n\t\tSTDCODE,\n\t\tTEAM_DISPLAY,\n\t\tVALIDITYTYPE,\n\t\tVALIDITYUPDATEDATE,\n\t\tVERSIONCODE\n\t)) ~> OCINSINK"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODASSY')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "ODASSY"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "ODASSYSINK"
						}
					],
					"transformations": [
						{
							"name": "Flatten1"
						}
					],
					"script": "source(output(\n\t\tO as (DASSY as (row as (BESTMATURITYWEIGHT as double, BLANKCODE as string, BOUGHTOUTINDICATOR as boolean, CANCELLATION as boolean, CDATE as date, COMMENTS as string, CONSUMEROFTHEELEMENTCODE as string, CREATETIMESTAMP as date, DASSYISSUEINDEX as string, DASSYNUMBER as string, DEFEXPLOITATIONRESPONSIBLE as string, DESIGNSTATUS as string, DIRECTLINKTOEQ as boolean, DOMESTICTITLE as string, EFFECTIVEDATE as string, ENGLISHTITLE as string, FUNCTIONALCLASS as string, GENERALCODE as string, GEOGRAPHICALID as short, ICYNUMBER as string, ICYREFERENCE as string, IDENTIFIABLEPART as string, IDENTNUMBER as integer, INSTOCKIDENTICALPART as string, INTERCHANGEABILITYCODE as string, ITEMNUMBER as string, ITEMZONE as string, LOCATION as string, LOCK as boolean, LOCKINGRESPONSIBLE as string, LOGISTICCODE as string, MANUFACTURINGCODE as string, MANUFACTURINGRESPONSIBLE as string, MANUFINDEX as string, MARKING as string, MAXHEIGHT as string, MERFLAG as string, MODIFYTIMESTAMP as date, MORPHODIMENSIONALCODE as string, MORPHODIMENSIONALGROUP as string, NATCO as string, NATCOINDUS as string, NEEDDATE as string, NEGOCIATEDNEEDDATE as string, ORDINALNUMBER as string, PRODUCTIONTYPE as string, PROTECTIVETREATMENTCODE as string, SPAREITEM as boolean, SPECIALITYRESPONSIBLE as string, STATE as string, SURFACETYPE as string, TEAM_DISPLAY as string, TECHNOLOGICALCODE as string, UDATE as date, USEDASBLANK as boolean, USEDONDRAWING as string, VERSIONITERATION as string)[]))\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'xml',\n\tcontainer: 'blob01',\n\tfolderPath: 'airbus/AIRBUS-RUAG-20200622-A320-XML-EZ20181205003-1-1',\n\tfileName: 'O_DASSY.xml',\n\tvalidationMode: 'none',\n\tnamespaces: true) ~> ODASSY\nODASSY foldDown(unroll(O.DASSY.row, O.DASSY.row),\n\tmapColumn(\n\t\tBESTMATURITYWEIGHT = O.DASSY.row.BESTMATURITYWEIGHT,\n\t\tBLANKCODE = O.DASSY.row.BLANKCODE,\n\t\tBOUGHTOUTINDICATOR = O.DASSY.row.BOUGHTOUTINDICATOR,\n\t\tCANCELLATION = O.DASSY.row.CANCELLATION,\n\t\tCDATE = O.DASSY.row.CDATE,\n\t\tCOMMENTS = O.DASSY.row.COMMENTS,\n\t\tCONSUMEROFTHEELEMENTCODE = O.DASSY.row.CONSUMEROFTHEELEMENTCODE,\n\t\tCREATETIMESTAMP = O.DASSY.row.CREATETIMESTAMP,\n\t\tDASSYISSUEINDEX = O.DASSY.row.DASSYISSUEINDEX,\n\t\tDASSYNUMBER = O.DASSY.row.DASSYNUMBER,\n\t\tDEFEXPLOITATIONRESPONSIBLE = O.DASSY.row.DEFEXPLOITATIONRESPONSIBLE,\n\t\tDESIGNSTATUS = O.DASSY.row.DESIGNSTATUS,\n\t\tDIRECTLINKTOEQ = O.DASSY.row.DIRECTLINKTOEQ,\n\t\tDOMESTICTITLE = O.DASSY.row.DOMESTICTITLE,\n\t\tEFFECTIVEDATE = O.DASSY.row.EFFECTIVEDATE,\n\t\tENGLISHTITLE = O.DASSY.row.ENGLISHTITLE,\n\t\tFUNCTIONALCLASS = O.DASSY.row.FUNCTIONALCLASS,\n\t\tGENERALCODE = O.DASSY.row.GENERALCODE,\n\t\tGEOGRAPHICALID = O.DASSY.row.GEOGRAPHICALID,\n\t\tICYNUMBER = O.DASSY.row.ICYNUMBER,\n\t\tICYREFERENCE = O.DASSY.row.ICYREFERENCE,\n\t\tIDENTIFIABLEPART = O.DASSY.row.IDENTIFIABLEPART,\n\t\tIDENTNUMBER = O.DASSY.row.IDENTNUMBER,\n\t\tINSTOCKIDENTICALPART = O.DASSY.row.INSTOCKIDENTICALPART,\n\t\tINTERCHANGEABILITYCODE = O.DASSY.row.INTERCHANGEABILITYCODE,\n\t\tITEMNUMBER = O.DASSY.row.ITEMNUMBER,\n\t\tITEMZONE = O.DASSY.row.ITEMZONE,\n\t\tLOCATION = O.DASSY.row.LOCATION,\n\t\tLOCK = O.DASSY.row.LOCK,\n\t\tLOCKINGRESPONSIBLE = O.DASSY.row.LOCKINGRESPONSIBLE,\n\t\tLOGISTICCODE = O.DASSY.row.LOGISTICCODE,\n\t\tMANUFACTURINGCODE = O.DASSY.row.MANUFACTURINGCODE,\n\t\tMANUFACTURINGRESPONSIBLE = O.DASSY.row.MANUFACTURINGRESPONSIBLE,\n\t\tMANUFINDEX = O.DASSY.row.MANUFINDEX,\n\t\tMARKING = O.DASSY.row.MARKING,\n\t\tMAXHEIGHT = O.DASSY.row.MAXHEIGHT,\n\t\tMERFLAG = O.DASSY.row.MERFLAG,\n\t\tMODIFYTIMESTAMP = O.DASSY.row.MODIFYTIMESTAMP,\n\t\tMORPHODIMENSIONALCODE = O.DASSY.row.MORPHODIMENSIONALCODE,\n\t\tMORPHODIMENSIONALGROUP = O.DASSY.row.MORPHODIMENSIONALGROUP,\n\t\tNATCO = O.DASSY.row.NATCO,\n\t\tNATCOINDUS = O.DASSY.row.NATCOINDUS,\n\t\tNEEDDATE = O.DASSY.row.NEEDDATE,\n\t\tNEGOCIATEDNEEDDATE = O.DASSY.row.NEGOCIATEDNEEDDATE,\n\t\tORDINALNUMBER = O.DASSY.row.ORDINALNUMBER,\n\t\tPRODUCTIONTYPE = O.DASSY.row.PRODUCTIONTYPE,\n\t\tPROTECTIVETREATMENTCODE = O.DASSY.row.PROTECTIVETREATMENTCODE,\n\t\tSPAREITEM = O.DASSY.row.SPAREITEM,\n\t\tSPECIALITYRESPONSIBLE = O.DASSY.row.SPECIALITYRESPONSIBLE,\n\t\tSTATE = O.DASSY.row.STATE,\n\t\tSURFACETYPE = O.DASSY.row.SURFACETYPE,\n\t\tTEAM_DISPLAY = O.DASSY.row.TEAM_DISPLAY,\n\t\tTECHNOLOGICALCODE = O.DASSY.row.TECHNOLOGICALCODE,\n\t\tUDATE = O.DASSY.row.UDATE,\n\t\tUSEDASBLANK = O.DASSY.row.USEDASBLANK,\n\t\tUSEDONDRAWING = O.DASSY.row.USEDONDRAWING,\n\t\tVERSIONITERATION = O.DASSY.row.VERSIONITERATION\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten1\nFlatten1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table') ~> ODASSYSINK"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/O_CACCCODE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "OCACCCODE"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "OCACCCODESINK"
						}
					],
					"transformations": [
						{
							"name": "Flatten1"
						}
					],
					"script": "source(output(\n\t\tO as (CACODE as (row as (AIR as boolean, CACCCODE as string, CDATE as date, CITYPE as string, DELIVERYRESPONSIBLE as string, DESIGNATION as string, DESIGNRESPONSIBLE as string, EQPTINTEGRATED as boolean, GLOBALSC as string, GROUNDTEST as boolean, JAAFORM1 as string, MANUFACTURINGRESPONSIBLE as string, MODIFYTIMESTAMP as date, NATCO as string, PRODUCTIONRESPONSIBLE as string, SECTIONCODE as string, SUPERVISOR as string, TEAM_DISPLAY as string, UDATE as date)[]))\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'xml',\n\tcontainer: 'blob01',\n\tfolderPath: 'airbus/AIRBUS-RUAG-20200622-A320-XML-EZ20181205003-1-1',\n\tfileName: 'O_CACCCODE.xml',\n\tvalidationMode: 'none',\n\tnamespaces: true) ~> OCACCCODE\nOCACCCODE foldDown(unroll(O.CACODE.row, O.CACODE.row),\n\tmapColumn(\n\t\tAIR = O.CACODE.row.AIR,\n\t\tCACCCODE = O.CACODE.row.CACCCODE,\n\t\tCDATE = O.CACODE.row.CDATE,\n\t\tCITYPE = O.CACODE.row.CITYPE,\n\t\tDELIVERYRESPONSIBLE = O.CACODE.row.DELIVERYRESPONSIBLE,\n\t\tDESIGNATION = O.CACODE.row.DESIGNATION,\n\t\tDESIGNRESPONSIBLE = O.CACODE.row.DESIGNRESPONSIBLE,\n\t\tEQPTINTEGRATED = O.CACODE.row.EQPTINTEGRATED,\n\t\tGLOBALSC = O.CACODE.row.GLOBALSC,\n\t\tGROUNDTEST = O.CACODE.row.GROUNDTEST,\n\t\tJAAFORM1 = O.CACODE.row.JAAFORM1,\n\t\tMANUFACTURINGRESPONSIBLE = O.CACODE.row.MANUFACTURINGRESPONSIBLE,\n\t\tMODIFYTIMESTAMP = O.CACODE.row.MODIFYTIMESTAMP,\n\t\tNATCO = O.CACODE.row.NATCO,\n\t\tPRODUCTIONRESPONSIBLE = O.CACODE.row.PRODUCTIONRESPONSIBLE,\n\t\tSECTIONCODE = O.CACODE.row.SECTIONCODE,\n\t\tSUPERVISOR = O.CACODE.row.SUPERVISOR,\n\t\tTEAM_DISPLAY = O.CACODE.row.TEAM_DISPLAY,\n\t\tUDATE = O.CACODE.row.UDATE\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten1\nFlatten1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table') ~> OCACCCODESINK"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/O_CACCCODE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "O_CACCCODE_FLOW",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ODASSY",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODASSY": {},
									"ODASSYSINK": {
										"tablename": "O_CACCCODE"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/ODASSY')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/O_CIN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OCIN_FLOW",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "OCIN_TEMP_FLOW",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"OCIN": {},
									"OCINSINK": {
										"tablename": "O_CIN_TEMP"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/OCIN_TEMP_FLOW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/O_DASSY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ODASSY_FLOW",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ODASSY",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODASSY": {},
									"ODASSYSINK": {
										"tablename": "O_DASSY"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/ODASSY')]"
			]
		}
	]
}